
#questionDiv {
	position: relative;
	top: 100px;
	width: 40%;
	left: 30%;
}


#mcInput #mcLabel #mcQuestionInput {
	position: relative;
	padding-left: 10px;
}

#spaceBetweenInput {
	padding: 2px;
}

#checkAnsReminder {
	justify-self: left;
}


#csvContent{
	display: none;	
}

#tfAllContent {
	display: none;
}

#quizbank {
	padding-top: 10%;
	width: 50%;
	margin: 0 auto;
}

.redXImage {
	float: left;
}

#errorAlert{
    position: relative;
    width: 475px;
    height: 70px;
    left: 35%;
    top: 10px;
}