.heading {
	text-align: center;
	padding-top: 20%;
}

<<<<<<< HEAD
.inputForInformation {
=======
 .inputForInformation {
>>>>>>> origin/zach
	margin: auto;
	width: 45%;
}

<<<<<<< HEAD
.spaceBetweenInput {
	padding-bottom: 3px;
}

.submitButton {
	text-align: center;
}
=======
 .spaceBetweenInput {
	padding-bottom: 3px;
}

 .submitButton {
	text-align: center;
} 
>>>>>>> origin/zach
