#createUserForm {
    padding: 20%;
}

#isUserContainer {
    padding-left: 20%;
}

#errorAlert {
    position: absolute;
    bottom: 10%;
    left: 35%;
}

#tableOfUsers {
    position: relative;
    bottom: 200px;
    width: 30%;
    margin: 0 auto;
}

#usersTable{
    position: relative;
    width: 570px;
	height: 50px;
    margin: 0 auto;
    bottom: 250px;
}