<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/loginPage.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutPage.css">
</head>

<title>About Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Coding Buddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <br></br>
    <br></br>
    <h1> About Page </h1>
    <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-1/c48.115.494.494a/s240x240/18268525_1147874298674472_5371830495868396313_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=92d216393be3375a4e30e063ad7e5d57&oe=5D3B1F9A">
    <img src="https://media.licdn.com/dms/image/C5603AQEuXvfhsEbPcA/profile-displayphoto-shrink_800_800/0?e=1561593600&v=beta&t=fzBHYGJQ8dhxxkRPbJ7rK6e4atOm1qJRE9xrjlQq-d8">
    <img src="https://media.licdn.com/dms/image/C5603AQFRMYKvbWz9ww/profile-displayphoto-shrink_800_800/0?e=1561593600&v=beta&t=I9Cv5GM4BUG2hceQWySdAp39S8o__CR3u3RpiPR4Wj8">
    <img src="https://media.licdn.com/dms/image/C4D03AQG4vmYbenlS9Q/profile-displayphoto-shrink_800_800/0?e=1561593600&v=beta&t=KTDUpW8GzXxXaghedX19e19mNowsxKOwyRNnaqG6zvk">
    <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/24910124_1873898359305143_6647207642751378775_n.jpg?_nc_cat=109&_nc_ht=scontent-ort2-1.xx&oh=b17d1e2fc32b6dd09b838c9a928d5dac&oe=5D6FA125"> 
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Glazed_apple_Danish.jpg/1200px-Glazed_apple_Danish.jpg">     
</body>

</html>