<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register/Signup Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="X-UA-Compatible" content="IE=edge" />
    
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="./Project_418/server/public/stylesheets/register.css"/>
   
    <!-- i dont know what this really does but it seems like all the files have it -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/register.css"/>
    <!-- not sure where were supposed to link the css 
        <style>
            .inputcollection{
                text-align: center;
                padding-top: 10%;
            }

            .passwordinput,.retypepasswordinput,.submitbutton{
                margin-top: 1%;
            }

            button:hover{
                border-color: rgb(12, 92, 146);
            }
        </style>
        -->
</head>

<body>

    <!--Nav Bar Functionality-->
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <br>
    <br>
    <br>
    <div class="heading">
    <p>22</p>
    </div>
    <div class="container">
        <div style="text-align:center; padding-top:20%" class="container" class="heading">
            <h1>Create Account</h1>
        </div>

        <div style="margin: auto;width:400px" class="form-group">
            <input type="text" placeholder="Username" class="form-control" id="usr">
        </div>
        <br>
        <div class="form-group">
            <input type="password" placeholder="password" class="form-control" id="pwd">
        </div>
        <br>
        <div class="form-group">
            <input type="password" placeholder="re-enter password" class="form-control" id="pwd">
         </div>   

    </div>







        <!-- 

        <div class="inputcollection">

            <div class="usernameinput">
                <label style="padding-right: 7%">Username:</label>
                <br>
                <input type="text" placeholder="Username">
                <img src="questionmark.jpg" alt="usernameinfo" width="15px" title="This will be your permanent username. Choose wisely.">
            </div>
            <br>

            <div class="passwordinput">
                <label style="padding-right: 7%">Password:</label>
                <br>
                <input type="password" placeholder="Password">
                <img src="questionmark.jpg" alt="passwordinfo" width="15px" title="At least:
        -8 Characters total
        -1 Upper Case
        -1 Lower Case
        -1 Numeric
        -1 Special Key">
            </div>

            <br>

            <div class="retypepasswordinput">
                <label style="padding-right: 3.8%">Retype Password:</label>
                <br>
                <input type="password" placeholder="Retype Password">
                <img src="questionmark.jpg" alt="retypepasswordinfo" width="15px" title="Confirm your password to make sure it matches correctly.">
            </div>


            <button class="submitbutton">Submit</button>

        </div>
        -->
</body>

</html>